.assignment-title { 
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.assignment-description { 
  font-size: 16px;
  margin-left: 20px;
  color: #3C3C43;
  margin-bottom: 20px;
}